<header class="header">
  <div class="welcome">
    <div class="welcome__img">
      <img src="assets/images/profile-med.jpg" alt="Profile picture">
    </div>
    <div class="welcome__intro">
      <h1>Hello there! I am <strong>Niño</strong></h1>
      <h3><em>a Full Stack Developer - <strong>MEAN</strong></em></h3>
    </div>
  </div>
</header>

<main class="main">
  <section class="skill-section">
    <div class="container">
      <h1>Skills</h1>
      <div class="skills">
        <div class="skills__frontend">
          <h3>Front-end Stack</h3>
          <ul>
            <li class="skill">
              <div class="skill__name">Angular</div>
              <div class="skill__bar">
                <span style="max-width: 90%"></span>
                <em class="counter" data-count="90">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">JavaScript/TypeScript</div>
              <div class="skill__bar">
                <span style="max-width: 75%"></span>
                <em class="counter" data-count="75">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">HTML/CSS</div>
              <div class="skill__bar">
                <span style="max-width: 90%"></span>
                <em class="counter" data-count="90">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">SASS/SCSS</div>
              <div class="skill__bar">
                <span style="max-width: 80%"></span>
                <em class="counter" data-count="80">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">Bootstrap</div>
              <div class="skill__bar">
                <span style="max-width: 70%"></span>
                <em class="counter" data-count="70">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">RxJs</div>
              <div class="skill__bar">
                <span style="max-width: 80%"></span>
                <em class="counter" data-count="80">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">NgRx</div>
              <div class="skill__bar">
                <span style="max-width: 45%"></span>
                <em class="counter" data-count="45">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">Material UI</div>
              <div class="skill__bar">
                <span style="max-width: 85%"></span>
                <em class="counter" data-count="85">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">PrimeNG</div>
              <div class="skill__bar">
                <span style="max-width: 55%"></span>
                <em class="counter" data-count="55">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">Responsive UI</div>
              <div class="skill__bar">
                <span style="max-width: 80%"></span>
                <em class="counter" data-count="80">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">Cross-Browser Compatibility</div>
              <div class="skill__bar">
                <span style="max-width: 75%"></span>
                <em class="counter" data-count="75">0</em>
              </div>
            </li>
          </ul>
        </div>
        <div class="skills__backend">
          <h3>Back-end Stack</h3>
          <ul>
            <li class="skill">
              <div class="skill__name">Node.JS</div>
              <div class="skill__bar">
                <span style="max-width: 55%"></span>
                <em class="counter" data-count="55">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">MongoDB</div>
              <div class="skill__bar">
                <span style="max-width: 50%"></span>
                <em class="counter" data-count="50">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">Express</div>
              <div class="skill__bar">
                <span style="max-width: 50%"></span>
                <em class="counter" data-count="50">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">Mongoose</div>
              <div class="skill__bar">
                <span style="max-width: 50%"></span>
                <em class="counter" data-count="50">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">Socket.IO</div>
              <div class="skill__bar">
                <span style="max-width: 50%"></span>
                <em class="counter" data-count="50">0</em>
              </div>
            </li>
            <li class="skill">
              <div class="skill__name">Compass/Robo 3T</div>
              <div class="skill__bar">
                <span style="max-width: 50%"></span>
                <em class="counter" data-count="50">0</em>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <svg preserveAspectRatio="none"
       viewBox="0 0 100 102"
       height="75"
       width="100%"
       version="1.1"
       xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0 L50 100 L100 0 Z" fill="white" stroke="white"></path>
  </svg>
  <section class="contact">
    <div class="contact__text">
      <h1>Having doubts? Please give me a shot! ^^</h1>
    </div>
    <form class="contact__form" [formGroup]="contactFormGroup">
      <input type="text" placeholder="Name" formControlName="name" required>
      <input type="text" placeholder="Email" formControlName="email" required>
      <textarea placeholder="Message" formControlName="message" required></textarea>
      <button type="submit" (click)="onSubmitContact()">Submit</button>
    </form>
    <div class="contact__extra">
      <em>or</em>
      <ul class="extra-contact">
        <li>
          <a href="skype:live:ninojoevelzskype?chat" role="link">
            <img src="assets/images/icons/skype-icon.svg" alt="Skype">
            <span>live:ninojoevelzskype</span>
          </a>
        </li>
        <li>
          <a href="mailto:ninojoevelz@gmail.com" role="link">
            <img src="assets/images/icons/mail-icon.svg" alt="Mail">
            <span>ninojoevelz@gmail.com</span>
          </a>
        </li>
        <li>
          <a href="tel:+639175100305" role="link">
            <img src="assets/images/icons/phone-icon.svg" alt="Phone">
            <span>+63 917 510 0305</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="social">
    <ul class="social__icons">
      <li>
        <a href="https://www.linkedin.com/in/ninojoevelz/" target="_blank" role="link">
          <img src="assets/images/icons/linkedin-icon.svg" alt="LinkedIn">
        </a>
      </li>
      <li>
        <a href="https://github.com/ninojoevelz" target="_blank" role="link">
          <img src="assets/images/icons/github-icon.svg" alt="GitHub">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/ninojoevelz" target="_blank" role="link">
          <img src="assets/images/icons/facebook-icon.svg" alt="Facebook">
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/helloitsenzi/" target="_blank" role="link">
          <img src="assets/images/icons/instagram-icon.svg" alt="Instagram">
        </a>
      </li>
    </ul>
  </section>
  <section class="credits">
    Made with love by Niño Joevel Zabate @2021
  </section>
</footer>
